.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .meal h3 {
    margin: 1rem;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin: 1rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
  }