@import './Header/header.css';
@import './Header/header-icon.css';
@import './product-item.css';
@import './product-item-form.css';
@import './Kitchen/Cart/cart.css';
@import './UI/backdrop.css';
@import './UI/Modal/modal.css';
@import './Products';

.dis-inflex {
    display: flex;
}

.ml-1 {
    margin-left: 1vw
}
.white {
    color: #FFFFFF;
}